* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  justify-content: center;
}
#title {
  text-align: center;
  font-size: 2rem;
  margin: 20px auto;
}
#gameBoardContainer {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5px;
  width: 25rem;
  height: 25rem;
  background-color: bisque;
}
.boardItems {
  background-color: #999;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}